body {
  overflow: hidden;
}
.main {
  overflow: auto;
  height: calc(100vh - 95px);
}
.navbar {
  height: 95px;
}
.navbar.reduced {
  height: 65px;
}
.nav-tabs {
    background: #eee;
}
.menu {
  width: 100vw;
  height: 33px;
  padding-left:10px;
}
a.text-light.menu-item {
  padding: 0px 10px;
  text-decoration: none;
  border-right: 1px solid;
  line-height: 32px;
}
a.text-light.menu-item.selected {
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 0 0 0.25rem rgba(255,255,255,0.2);
}
#sidebar-nav {
  height: calc(100vh - 95px);
  padding: 10px;
  width: 330px;
  overflow-y: auto;
  overflow-x: hidden;
}

main {
  height: calc(100vh - 95px);
  box-shadow: 6px 6px 14px #ddd inset;
  overflow: auto;
}

.organizationContainer {
  height: calc(100vh - 155px);
  overflow-y: auto;
  overflow-x: hidden;
}

h2 {
    display: inline-block;
    font-size: .9rem;
    position: relative;
    line-height: 1.5;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
.mainContent span.input-group-text:first-child {
    width: 106px;
}
table th {
  font-size: 1.1rem;
  font-weight: 500;
}

.card.current {
  background: rgba(224,224,255,0.8);
}

.logout {
    font-size: 16px;
    font-weight: 700;
    border-left: 1px solid #17428c;
    padding-left: 10px;
    margin-left: 10px;
}
.logout::before {
    font-size: 20px;
    font-weight: 400!important;
}

.card {
	margin-bottom: 5px;
}
.card-title {
	font-size: 1.1rem;
}

.card-subtitle {
    font-size: 0.9rem;
}
.card-text {
	float: left;
    font-size: 12px;
    margin-bottom: 0!important;
    margin-block-start: 0;
}
.card-link {
	float: right;
}

.localeDropdown {
	display:inline-block;
}
.localeDropdown > button {
	font-size: 1.1rem;
    border:0px;
}
.dropdown-menu {
	box-shadow: -2px 2px 3px #666;
}
.dropdown-toggle.move[aria-expanded="false"]::after {
    transform: rotate(-90deg);
    transition: transform 0.35s ease;
}


.addOrg {
  position: absolute;
  right: 10px;
  margin-top:2px;
}
.userGroupList {
  flex: 1 1;
}
@media only screen and (max-width: 600px) {
  .fileViewer .modal-dialog {
    max-width: 100vw;
    width: 100vw;
  }
}

@media only screen and (min-width: 600px) {
  .fileViewer .modal-dialog {
    max-width: calc(100vw - 150px);
  }
}
/**language dropdown*/
.input-group > .dropdown > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/**monitoring*/
.execChart {
  width: 300px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}
  .execChart > .success {
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, #080 10px, #080 20px), linear-gradient(to bottom, #0E0, #070);
    display: inline-block;
    height: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 22px;
    text-shadow: 0 0 2px black, 0 0 4px black;
    line-height: 22px;
  }
  .execChart > .failure {
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, #800 10px, #800 20px), linear-gradient(to bottom, #E00, #700);
    display: inline-block;
    height: 30px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 22px;
    text-shadow: 0 0 2px black, 0 0 4px black;
    line-height: 22px;
  }

.accordion-header {
  width:100%;
}
